body { background: #d341fe; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 40px; display: flex; }
.block-database-0 { color: #de1961; font-size: 13px; margin-bottom: 5px; }
.block-sms-1 { color: #1eb19; font-size: 18px; margin-bottom: 5px; }
.block-cart-2 { color: #bf50b9; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #b70d7b; font-size: 14px; margin-bottom: 5px; }
.block-logger-4 { color: #1c940e; font-size: 20px; margin-bottom: 5px; }
.block-metrics-5 { color: #cf7c74; font-size: 15px; margin-bottom: 5px; }
.block-shipping-6 { color: #9acf93; font-size: 18px; margin-bottom: 5px; }